<div
    id="dashboard-sidebar"
    class="h-screen fixed inset-y-0 inset-s-0 z-40 flex w-64 -translate-x-full flex-col justify-between overflow-y-auto border-e border-gray-200 bg-white transition-transform duration-300 peer-checked:translate-x-0 lg:static lg:shrink-0 lg:translate-x-0 max-lg:rtl:translate-x-full">
    <div class="p-4">
      <!-- gifs-side-menu-header -->
      <gifs-side-menu-header/>
      <!-- gifs-side-menu-options -->
      <gifs-side-menu-options/>
    </div>
    <!-- gifs-side-menu-footer -->
    <gifs-side-menu-footer/>
  </div>